<%= render 'publics/navbarpublics' %>
<div class="page-container">
  <div class="content">
    <div class="container">
      <div class="col-xs-12">
        <div class="panel-body">
          <h1 class="text-uppercase title-color">Seguidores</h1>
          <div class="page-content">
            <% if @followers.blank? %>
            <div class="panel panel-default col-xs-12">
              <div class="panel-body">
                <% if !current_user.present? || current_user.id != @user.id %>
                <h4 class="title-color">Este usuário ainda não tem nenhum seguidor.</h4>
                  <% else %>
                  <h4 class="title-color">Você ainda não tem nenhum seguidor
                    <i class="fa fa-thumbs-o-down"></i>.</h4>
                  <h4 class="title-color">Não desanime. Basta você ser um anunciante de
                    <a href="#">qualidade</a>
                    e você terá muitos seguidores
                    <i class="fa fa-thumbs-o-up"></i>.</h4>
                  <% end %>
              </div>
            </div>
            <% else %>
              <div class="advertisements">
                <%= render partial: 'users/userpartial', locals: {users: @followers} %>
              </div>
            <% end %>
            <% if @followers.next_page %>
            <div class="col-xs-12 col-sm-personal col-md-personal margin-post pull-right text-center remove" id="timeline">
              <a class="load-more-advertisements" data-remote="true" href="/usuarios/<%= @user.to_param %>/seguidores?page=<%= @followers.next_page %>"><image alt="carregando" src="/assets/load.gif"></image></a>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'publics/footerpublics' %>
</div>
