<%= render 'publics/navbarpublics' %>
<div class="page-container">
  <div class="content">
    <div class="container page-content">
      <div class="panel panel-default col-xs-12 col-sm-3">
        <div class="panel-body">
          <ul class="list-unstyled nav nav-pills nav-justified" id="list-cogs">
            <li class="active">
              <a class="title-color" data-toggle="tab" href="#cogs">
                <i class="fa fa-cogs ">
                  Geral</i>
              </a>
            </li>
            <li>
              <a class="title-color" data-toggle="tab" href="#profile">
                <i class="fa fa-tags"></i>
                Atualizar Perfil</a>
            </li>
            <li>
              <a class="title-color" data-toggle="tab" href="#account">
                <i class="fa fa-lock"></i>
                Conta</a>
            </li>
          </ul>
        </div>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="tab-content">
        <div class="tab-pane active" id="cogs">
          <div class="panel panel-default col-xs-12 col-sm-personal-more">
            <div class="panel-body">
              <div class="form-horizontal">
                <legend>
                  <strong class="title-color">Configurações Gerais</strong>
                </legend>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="name">Nome</label>
                  <div class="col-sm-7">
                    <%= f.text_field :name, autofocus: true, :placeholder => 'Digite seu Nome', class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="username">Username</label>
                  <div class="col-sm-7">
                    <input class="form-control" disabled title="Você não pode alterar seu nome de usuário" type="text" value="<%= resource.username %>"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="email">E-mail</label>
                  <div class="col-sm-7">
                    <input class="form-control" disabled title="Você não pode alterar seu endereço de e-mail" type="text" value="<%= resource.email %>"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="kind">Perfil</label>
                  <div class="col-sm-7">
                    <input class="form-control" disabled title="Você não pode alterar seu tipo de perfil" type="text" value="<%= resource.kind %>"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar Alterações</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="profile">
          <div class="panel panel-default col-xs-12 col-sm-personal-more">
            <div class="panel-body">
              <div class="form-horizontal">
                <legend>
                  <strong class="title-color">Atualizar Informações de Perfil</strong>
                </legend>
                <% if !resource.uid.present? %>
                <div class="col-xs-12">
                  <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
                    <div class="panel-body">
                      <%= image_tag resource.image, class: 'img-responsive img-thumbnail' %>
                    </div>
                  </div>
                </div>
                <% end %>
                <div class="form-group">
                  <label for="description" class="control-label col-sm-2">Descrição</label>
                  <div class="col-sm-7">
                    <%= f.text_area :description, :placeholder => 'Descreva quem é você', class: 'form-control', :id => 'message-area' %>
                  </div>
                </div>
                <div class="form-group">
                  <label for="city" class="control-label col-sm-2">Cidade</label>
                  <div class="col-sm-7">
                        <%= f.collection_select(:city_id, City.all, :id, :name, {}, {class: 'form-control'}) %>
                  </div>
                </div>
                <div class="form-group">
                  <label for="address" class="control-label col-sm-2">Endereço</label>
                  <div class="col-sm-7">
                    <%= f.text_field :address, :placeholder => 'Digite seu endereço', class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group">
                  <label for="phone" class="control-label col-sm-2">Telefone</label>
                  <div class="col-sm-7">
                    <%= f.text_field :phone, :placeholder => 'Digite seu telefone', class: 'form-control' %>
                  </div>
                </div>
                <% if resource.kind == "Profissional" %>
                <div class="form-group">
                  <label for="reason_social" class="control-label col-sm-2">Razão Social</label>
                  <div class="col-sm-7">
                    <%= f.text_field :reason_social, :placeholder => 'Digite a razão social da sua empresa', class: 'form-control' %>
                  </div>
                </div>
                  <div class="form-group">
                    <label for="cnpj" class="control-label col-sm-2">CNPJ</label>
                    <div class="col-sm-7">
                      <%= f.text_field :cnpj, :placeholder => 'Digite o CNPJ da sua empresa', class: 'form-control' %>
                    </div>
                  </div>
                <% end %>
                <div class="form-group">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar Alterações</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="account">
          <div class="panel panel-default col-xs-12 col-sm-personal-more">
            <div class="panel-body">
              <div class="form-horizontal">
                <% if !resource.uid.present? %>
                <legend>
                  <strong class="title-color">Configurações da conta</strong>
                </legend>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="new-password">Nova Senha</label>
                  <div class="col-sm-7">
                    <%= f.password_field :password, autocomplete: "off", :placeholder => 'Digite sua nova Senha', class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="password-repeat">Repetição</label>
                  <div class="col-sm-7">
                    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'Repita sua nova senha', class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar Alterações</button>
                  </div>
                </div>
                <hr/>
                <% end %>
                <% end %>
                <a class="title-color" href="#" id="account-cancel">
                  <i class="fa fa-remove"></i>
                  Quero desativar minha conta
                </a>
                <div id="div-account-cancel">
                  <div class="panel panel-default col-xs-12" id="panel-account-cancel">
                    <div class="panel-body">
                      <span class="title-color">A desativação da sua conta excluirá seu perfil permanentemente, inclusive todos os seus anúncios e informações cadastradas. Esteja ciente de que uma vez realizado, o processo é
                        <strong>irreversível.</strong>
                      </span>
                      <br/>
                      <span class="title-color">Se optar por desativar sua conta queremos agradecer por ter utilizado nosso serviço. E esperamos você de volta em breve.
                      </span>
                      <br/>
                      <span class="title-color">Atenciosamente, equipe
                        <strong>Grande Oeste Classificados.</strong>
                      </span>
                      <br/>
                      <%= button_to "Desativar minha conta", registration_path(resource_name), class: 'btn btn-danger', id: 'btn-cancel-account', data: { confirm: "Tem certeza?" }, method: :delete %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'publics/footerpublics' %>
</div>
